:root {
    //game
    --base_colour: #141e2c;
    --primary_colour: #c22f4f;
    --secondary_colour: #111925;
    --tertiary_colour: #e5e5e5;
    --quaternary_colour: #f7f1f1;
    --quinary_colour: #178acf;

    //utility
    --error_colour: #e14848;
}

// light mode
// :root {
//     //game
//     --base_colour: #f7f1f1;
//     --primary_colour: #c22f4f;
//     --secondary_colour: #e5e5e5;
//     --tertiary_colour: #111925;
//     --quaternary_colour: #141e2c;
//     --quinary_colour: #141e2c;

//     //utility
//     --error_colour: #e14848;
// }

