:root {
    //game
    --base_colour: #141e2c;
    --primary_colour: #c22f4f;
    --secondary_colour: #111925;
    --tertiary_colour: #e6e5c5;
    --quaternary_colour: #f7f1f1;
    --quinary_colour: #178acf;

    //utility
    --error_colour: #e14848;
}
