:root {
    --key_font: "le-monde-livre-classic-byol", serif;
    --title_font: "farm-new", sans-serif;
    --display_font: "politica-condensed", sans-serif;
}

    $key_font: "le-monde-livre-classic-byol", serif;
    $title_font: "farm-new", sans-serif;
    $display_font: "politica-condensed", sans-serif;

//possible scales
$goldenRatio: 1.61803398875;
$perfectFourth: 1.333;
$majorSecond: 1.125;
$majorThird: 1.25;

$typeScale: $majorThird;

@function typeScale($exponent) {
    $value: 1;

    @if $exponent > 0 {
        @for $i from 1 through $exponent {
            $value: $value * $typeScale;
        }
    } @else {
        @for $i from $exponent to 0 {
            $value: $value / $typeScale;
        }
    }

    @return $value * 1rem;
}

@function baseLine($exponent) {
    @return ($exponent * $typeScale) * 1rem;
}

$fontSize: 18px;
$lineHeight: $typeScale;

@mixin base-typography {
    font-family: $key_font;
    font-weight: 300;
    font-size: $fontSize;
    line-height: $lineHeight;
    font-style: normal;
    vertical-align: baseline;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

@mixin titleText {
    font-weight: 300;
    font-family: var(--title_font);
    text-transform: uppercase;
}

//calculates line height in rems based on font size
@mixin setFont($exponent: 1) {
    $fs: typeScale($exponent);
    font-size: $fs;
    line-height: $fs * $typeScale;
}

p {
    @include setFont(1);
    line-height: 1.56;
    font-weight: 300;
    margin-bottom: baseLine(1);
}
