*,
*:after,
*:before {
    box-sizing: border-box;
}

:root {
    font-size: $fontSize;
    line-height: $lineHeight;
    @include base-typography;
}

html {

    @include iosgo {
        overflow-x: hidden;
        overflow-y: scroll;

    }
}

body {
    @include base-typography;
    max-width: 100%;
    height: 100% !important;
    margin: 0 auto;
    position: relative;
    background-color: var(--base_colour);
    color: var(--quaternary_colour);

    @include mobile {
        overflow-x: hidden;
    }
}

.section__inner {
    display: grid;
    margin-left: columnWidths(2);
    margin-right: columnWidths(2);
    z-index: 2;
    position: relative;

    @include mobile {
        margin-left: columnWidths(1);
        margin-right: columnWidths(1);
    }

    .wrapper {
        @include sectionPad();
    }
}

ul {
    @include titleText;
}

li {
    @include titleText;
}


.button {
    @include titleText;
    margin-top: baseLine(1);
    @include setFont(-1);
    display: inline-flex;
    padding: baseLine(1) / 2 baseLine(1);
    background-color: var(--primary_colour);
    font-weight: 600;

    &:hover {
        color: var(--base_colour);
    }
}